<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Roderick Café</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Manrope:wght@700;800&family=Unbounded:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

  <nav class="navbar">

    <h1 class="logo">Roderick Café</h1>

    <div class="nav-links">
      <a href="/">Home</a>
      <a href="/menu">Menu</a>
      <a href="/about">About us</a>
    </div>

  </nav>

  <section class="hero">

    <img src="{{ url_for('static', filename='images/coffee_background.png') }}" class="hero-bg">

    <div class="hero-content">

      <div class="hero-title-top">
        YOUR FAVORITE <br>
        CRAVINGS
      </div>

      <img src="{{ url_for('static', filename='images/coffee.png') }}" class="coffee-center">

      <div class="hero-title-bottom">
        DELIVERED <br>
        STRAIGHT TO YOUR <br>
        SCREEN
      </div>

    </div>

  </section>

<div class="button-container">
    <a href="{{ url_for('menu') }}">
      <button class="order-btn">
        ORDER NOW
      </button>
    </a>
  </div>

  <footer>

    <div class="footer-top">

      <div class="footer-left">
        Aviles, Armi Jhon A.<br>
        Igloso, Mark Jacob S.<br>
        Orfella Jr, Roderick Roxas
      </div>

      <div class="footer-right">
        SPONSORED BY BAKE ME, BEBU
      </div>

    </div>

    <div class="footer-line"></div>

    <div class="footer-bottom">

      <div class="social-icons">
        <img src="{{ url_for('static', filename='images/facebook.png') }}" alt="Facebook">
        <img src="{{ url_for('static', filename='images/instagram.png') }}" alt="Instagram">
        <img src="{{ url_for('static', filename='images/tiktok.png') }}" alt="TikTok">
        <img src="{{ url_for('static', filename='images/twitter.png') }}" alt="Twitter">
        <img src="{{ url_for('static', filename='images/linkedin.png') }}" alt="LinkedIn">
      </div>

      <div class="copyright">
        © Roderick Café Ordering System. All rights reserved.
      </div>

    </div>

  </footer>

</body>
</html>