<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Receipt | Roderick Café</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Manrope:wght@700;800&family=Unbounded:wght@700&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

  <nav class="navbar">
    <h1 class="logo">Roderick Café</h1>
    <div class="nav-links">
      <a href="/">Home</a>
      <a href="/menu">Menu</a>
      <a href="/about">About us</a>
    </div>
  </nav>

  <main class="main-content">
    <div class="receipt-wrapper">
      <img class="receipt-bg" src="{{ url_for('static', filename='images/receipt.png') }}" alt="Receipt">
      
      <div class="receipt-content">
        <div class="field-order-id"><span>RECEIPT #:</span></div>
        <div class="field-customer"><span>CUSTOMER:</span></div>
        <div class="field-service"><span>SERVICE TYPE:</span></div>

        <div class="field-dynamic-items-list"></div>
        <div class="field-total-cost-amount"></div>
        <div class="field-payment-type-method"></div>
      </div>
    </div>
  </main>

</body>
</html>